.tarjeta {
    display: flex;
    align-items: center;
    justify-content: space-around;
} 


@media screen and (max-width: 800px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 500px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
  }
}