.cardCont {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    transition: background 0.5s;
}


.cardCont:hover {
    background: gray;
    color: white;
    letter-spacing: 5px;
}

.nombre {
    font-size: 25px;
    letter-spacing: 3px;
}


.anchor {
    text-decoration: none;
    color: white;
    letter-spacing: 0em;
    transition: letter-spacing 0.4s;
}

.imagen1 {
    color: white
}

.anchor:hover {
    letter-spacing: 0.1em;
}


.apps {
    width:210px; 
    height:120px
}



